*{
	padding: 0px;
	margin:0px auto;
	font-family: "微软雅黑";
	
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
#head{
	height:80px;
	width:100%;
    position: fixed;
	top:0px;
	left: 0px;
	box-shadow:0px 1px 1px #D3D3D3;
	z-index: 999;
	background: #fff;
}
.header_box{
	width:1200px;
	height:100%;
	margin:0px auto; 
}

#head .header_logo{
	width:150px;
	height: 100%;
	display: block;
	float: left;
}
#head .header_logo img{
	padding-top:20px; 
}
.header_right{
    height:100%;
	float: right;
	text-align: center;
}
.header_right li{
  height: 80px;
  line-height: 80px;
  float: left;
  margin-left: 12px;
  padding: 0 12px;
  font-size: 18px;
}
.header_right li a{
	height:100%;
	display: block;
}
.header_right li a:hover{
  border-bottom:2px solid #ea5e43 ;
  color:#ea5e43;
}
.header_right li.active{
  border-bottom:2px solid #ea5e43 ;
  color:#ea5e43;
}

.header_right li a{
	color:black;
}

#loginBox{
	width:400px;
	height:400px;
	z-index:900;
	background:#fff;
	position:fixed;
	top:80px;
	left:50%;
	transform:translate(-50%,0);
	display:none;
	-webkit-animation:loginBox 1s;
	-o-animation:loginBox 1s;
	animation:loginBox 1s;
}
@keyframes loginBox{
	0%{
		top:-80px;
	}
	100%{
		top:80px;
	}
}


#loginMask{
	width: 100%;
	height: 100%;
	z-index:899;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	opacity: 0.8;
}


#bot{
	margin-top:20px;
	width:100%;
	display: block;
	background: #E9E9E9;
}
.clear{
	clear:both;
}

.foot_box .link{
	width:100%;
	height:50px;
	background: white;
	
}
.foot{
	border-bottom: 1px solid #cbcbcb;
}
.foot_box .link .link_box{
	width:1200px;
	margin:0px auto;
}
.foot_box .link .link_box a{
	line-height: 50px;
	font-size:14px;
	color:#565656;
	margin-right:42px;
}
.foot .foot_info{
   padding: 30px 0 20px;
   width:1200px;
   margin:0px auto;
}
.foot_info .foot_info_left{
	float: left;
}
.foot_info_left  .f_about_company{
	float: left;
	margin-right: 40px;
	font-size: 14px;

}
.foot_info_left .f_about_company p{
   margin-bottom:12px;
  height:22px;
  line-height: 22px;
  display: block;

} 
.f_about_company p a{
  padding-right: 10px;
  color:#3e3e3e;
}
.f_about_company p a img{
    vertical-align: top; 
}
.f_about_company .f_button_share{
	padding-top: 20px;
}
.f_about_company .f_button_share a{
	width:26px;
	height:26px;
	display:inline-block;
	margin-right:5px;
}

.f_button_share .share_qq{
	background: url(../images/qq_ico.png) no-repeat;
}
.f_button_share .share_txwb{
	background: url(../images/txwb_ico.png) no-repeat;
}
.f_button_share .share_weix{
	background: url(../images/wx_ico.png) no-repeat;
}
.f_button_share .share_txweb{
	background: url(../images/xlwb_ico.png) no-repeat;
}
.foot_info_left .f_contact_us{
	float: left;
	font-size: 14px;
	color: #6d6d6d;
}
.f_contact_us ul li{
	margin-bottom: 15px;
}
.foot_info_right{
	float: right;
}
.foot_info_right .foot_info_code{
	width:auto;
	text-align: center;
	font-size: 14px;
}
.foot_info_code .info_code_box{
 padding:7px;
 width:78px;
 border:1px solid #bbbbbb;
 margin-bottom: 5px;
}
.foot_info_code p{
	color:#808080;
}
.footer_copy .footer_copy_box{
	width:1200px;
	height: 47px;
	line-height: 47px;
	margin:0px auto;
	color:#363636;
	font-size: 14px;
}