{% extends "layout.html" %}
{% block main %}

    <div id="maincontent">
        <div id="content">
            <div id="location">
                <p><a href="/article">首页</a> > <a href="/new_focus">最新聚焦</a> > 发展理念</p>
            </div>
            <div id="news_content">
                <div id="news_detail">
                    <h2>发展理念</h2>
                    <p>2017-02-07 18:13 | 浏览 0</p>
                    <span></span>
                </div>
                <div id="news_box">
                    gdgdfgdfgdfgfg
                </div>
                <div id="news_share">
                <div id="news_sharecontent">
                    <div id="share_style">
                        <a href="#" title="分享到qq空间">
                            <span class="share_qqzone"></span>
                        </a>
                        <a href="#" title="分享到微博">
                            <span class="share_weibo"></span>
                        </a>
                        <a href="#" title="分享到腾讯微博">
                            <span class="share_tencentweibo"></span>
                        </a>
                        <a href="#" title="分享到微信">
                            <span class="share_wechat"></span>
                        </a>
                        <a href="#" title="分享到人人网">
                            <span class="share_Renren"></span>
                        </a>
                        <a href="#" class="share_others"></a>
                        <a href="#">
                            <b class="share_count" title="累计分享0次">0</b>
                        </a>
                        <div id="shareto">
                            <div>
                                <div id="shareto_top">
                                    分享到...
                                </div>
                                <div id="shareto_cont">
                                    <table>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_weixin">微信</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_qqzone">QQ空间</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_weibo">微博</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_copy">复制网址</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_email">邮件</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_qqf">QQ好友</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_renren">人人网</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_joy">开心网</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_note">印象笔记</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_lingying">领英</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_feixin">飞信</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_douban">豆瓣</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_Twitter">Twitter</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#">
                                                    <span class="shareto_Facebook">Facebook</span>
                                                </a>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div id="shareto_foot"></div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div id="news_sidebar">
                <div id="recommend">
                        <h3 class="recommend_title">推荐任务</h3>
                        <div class="recommend_task">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span style="overflow: hidden; display: block; position: relative; width: 290px; height: 218px;">
                                            <img src="../../public/images/1477102503.jpg" />
                                        </span>
                                        <div class="task_depict">
                                            <h3>漂浮的家 - 老狼</h3>
                                            <span>佣金：<h3>￥3.00</h3></span>
                                            <b>1000/0</b>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span style="overflow: hidden; display: block; position: relative; width: 290px; height: 218px;">
                                            <img src="../../public/images/1477102503.jpg"/>
                                        </span>
                                        <div class="task_depict">
                                            <h3>漂浮的家 - 老狼</h3>
                                            <span>佣金：<h3>￥3.00</h3></span>
                                            <b>1000/0</b>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span style="overflow: hidden; display: block; position: relative; width: 290px; height: 218px;">
                                            <img src="../../public/images/1477102503.jpg" />
                                        </span>
                                        <div class="task_depict">
                                            <h3>漂浮的家 - 老狼</h3>
                                            <span>佣金：<h3>￥3.00</h3></span>
                                            <b>1000/0</b>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="rank">
                        <h3>资讯排行</h3>
                        <div class="rank_list">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i>1</i>test
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i>2</i>test
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i>3</i>test
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
<script>
    $(function(){
        $(".share_others").mouseover(function(){
            $("#shareto").show();

            //获取滚动条滚动了的距离
            var top=document.documentElement.scrollTop || document.body.scrollTop;
            console.log(top);
            //分享框显示的位置
            if(top<=950){
                $("#shareto").css("top",-273);
                $("#shareto").css("left",145);
            }else if(top>950){
                $("#shareto").css("top",-8);
                $("#shareto").css("left",-6);
            }

            $("#shareto").bind("mouseover",function () {
                $("#shareto").show();
                if(top<=950){
                    $("#shareto").css("top",-273);
                    $("#shareto").css("left",145);
                }else if(top>950){
                    $("#shareto").css("top",-8);
                    $("#shareto").css("left",-6);
                }
            });

        }).mouseout(function(){
            $("#shareto").hide();
            $("#shareto").bind("mouseout",function () {
                $("#shareto").hide();
            });
        });
    })
</script>
{%endblock%}