{% extends "layout.html" %}

{%block main%}
<div id="mission">
    <div class="mission_box">
      <div class="mis_menu">
          <ul>
              <li><a href="" style="color:#ED5239;">全部</a></li>
              <li><a href="">听音乐</a></li>
              <li><a href="">看电影</a></li>
              <li><a href="">玩游戏</a></li>
          </ul>
      </div>
      <div class="mis_list">
          <div class="zui">
              <ul>
                  <li class="m_new m_bgc"><a href="" >最新</a></li>
                  <li class="m_hot "><a href="" >最热</a></li>
                  <li class="m_select"><a href="">结算时间</a></li>
              </ul>
              <div class="sear_button">
                  <input type="text" name="text" id="search_keyword" />
                  <button id="btn_button"></button>
              </div>
              <div class="clear"></div>
          </div>
          <div class="mis_list_box">
              <div class="m_lists_b">
                  <ul>
                      <li class="m_spe_li"><a href="">
                          <p class="me_img"><img src="../../public/images/1477054047.jpg" /></p>
                          <div>
                              <p>aaa<label>听音乐</label></p>
                              <span>佣金：<b><i>￥</i>2.00</b></span>
                              <b class="m_price">2000/</b>
                          </div>
                      </a></li>
                      <li class="m_spe_li"><a href="">
                          <p class="me_img"><img src="../../public/images/1477054047.jpg" /></p>
                          <div>
                              <p>aaa<label>听音乐</label></p>
                              <span>佣金：<b><i>￥</i>2.00</b></span>
                              <b class="m_price">2000/</b>
                          </div>
                      </a></li>
                      <li class="m_spe_li"><a href="">
                          <p class="me_img"><img src="../../public/images/1477054047.jpg" /></p>
                          <div>
                              <p>aaa<label>听音乐</label></p>
                              <span>佣金：<b><i>￥</i>2.00</b></span>
                              <b class="m_price">2000/</b>
                          </div>
                      </a></li>
                      <li><a href="">
                          <p class="me_img"><img src="../../public/images/1477054047.jpg" /></p>
                          <div>
                              <p>aaa<label>听音乐</label></p>
                              <span>佣金：<b><i>￥</i>2.00</b></span>
                              <b class="m_price">2000/</b>
                          </div>
                      </a></li>
                      <li class="m_spe_li"><a href="">
                          <p class="me_img"><img src="../../public/images/1477054047.jpg" /></p>
                          <div>
                              <p>aaa<label>听音乐</label></p>
                              <span>佣金：<b><i>￥</i>2.00</b></span>
                              <b class="m_price">2000/</b>
                          </div>
                      </a></li>
                      <li class="m_spe_li"><a href="">
                          <p class="me_img"><img src="../../public/images/1477054047.jpg" /></p>
                          <div>
                              <p>aaa<label>听音乐</label></p>
                              <span>佣金：<b><i>￥</i>2.00</b></span>
                              <b class="m_price">2000/</b>
                          </div>
                      </a></li>
                      <li class="m_spe_li"><a href="">
                          <p class="me_img"><img src="../../public/images/1477054047.jpg" /></p>
                          <div>
                              <p>aaa<label>听音乐</label></p>
                              <span>佣金：<b><i>￥</i>2.00</b></span>
                              <b class="m_price">2000/</b>
                          </div>
                      </a></li>
                      <li ><a href="">
                          <p class="me_img"><img src="../../public/images/1477054047.jpg" /></p>
                          <div>
                              <p>aaa<label>听音乐</label></p>
                              <span>佣金：<b><i>￥</i>2.00</b></span>
                              <b class="m_price">2000/</b>
                          </div>
                      </a></li>
                      <li class="m_spe_li"><a href="">
                          <p class="me_img"><img src="../../public/images/1477054047.jpg" /></p>
                          <div>
                              <p>aaa<label>听音乐</label></p>
                              <span>佣金：<b><i>￥</i>2.00</b></span>
                              <b class="m_price">2000/</b>
                          </div>
                      </a></li>
                      <div class="clear"></div>
                  </ul>
              </div>
              <div class="list-more"></div>
          </div>
      </div>
    </div>
</div>
{%endblock%}