{% extends "layout.html" %}
{% block main %}

    <div id="blank"><div id="pic"></div></div>
    <div id="new_focus">
        <div class="caption">
            <span class="name1">最新聚焦</span>
            <span class="name2">New Focus</span>
        </div>
        <div id="news_list">
            <ul>
                <li style="margin-right:45px;">
                    <p class="news_title"><a href="/article" title="【读文章】发展理念">【读文章】发展理念</a></p>
                    <a href="/article" class="show_img">
                    <img src="../../public/images/1475993531.jpg" title="【读文章】发展理念" alt="【读文章】发展理念" />
                    </a>
                    <p class="news_depict">
                        我们拥有朝气蓬勃的创业团队，只为青春喝彩；我们拥有永不言弃的拼搏精神，只为生命书写华丽的乐章。我们从创业初，就坚定了我们的理念：成为在校大学…
                    </p>
                    <p class="news_time">时间：2016-10-09</p>
                </li>
                <li>
                    <p class="news_title"><a href="#" title="【读文章】《生活方式决定人生态度》">【读文章】《生活方式决定人生态度》</a></p>
                    <a href="#" class="show_img">
                        <img src="../../public/images/1475993828.jpg" title="【读文章】《生活方式决定人生态度》" alt="【读文章】《生活方式决定人生态度》" />
                    </a>
                    <p class="news_depict">
                        真正的品质生活，并不需要很多钱来堆砌。品质源于即便生活给了你一副烂牌，可你依旧竭尽全力想把它过好的决心和信心。
                    </p>
                    <p class="news_time">时间：2016-11-11</p>
                </li>
                <li style="margin-right:45px;">
                    <p class="news_title"><a href="#" title="【读文章】《不要被人看不起》">【读文章】《不要被人看不起》</a></p>
                    <a href="#" class="show_img">
                        <img src="../../public/images/1475994020.jpg" title="【读文章】《不要被人看不起》" alt="【读文章】《不要被人看不起》" />
                    </a>
                    <p class="news_depict">
                        人生，因为你的成就不够多，所以别人才会看不起你。因为你的成就不够高，别人才会忽视你，因为你的道德不高，别人才会欺负你。因为你的情感不够完美，别人才会嘲笑你。
                    </p>
                    <p class="news_time">时间：2016-12-01</p>
                </li>
                <li>
                    <p class="news_title"><a href="#" title="【读文章】《世界不公平，努力是唯一出路》">【读文章】《世界不公平，努力是唯一出路》</a></p>
                    <a href="#" class="show_img">
                        <img src="../../public/images/1475997530.jpg" title="【读文章】《世界不公平，努力是唯一出路》" alt="【读文章】《世界不公平，努力是唯一出路》" />
                    </a>
                    <p class="news_depict">
                        这个世界并不是公平的，你要学着去习惯它。
                    </p>
                    <p class="news_time">时间：2016-12-12</p>
                </li>
            </ul>
        </div>
    </div>

{%endblock%}