{% extends "layout.html" %}
{% block main %}
    <div class="box">
        <div id="recom"><div></div></div>
        <div id="past_trail">
            <div class="caption">
                <span class="name1">往期踪迹</span>
                <span class="name2">Past Trail</span>
            </div>
            <div class="past_nav">
                <ul>
                    <li class="active"><a href="javascript:void(0)">玩游戏</a></li>
                    <li><a href="javascript:void(0)">听音乐</a></li>
                    <li><a href="javascript:void(0)">看电影</a></li>
                    <li><a href="javascript:void(0)">看小说</a></li>
                    <li><a href="javascript:void(0)">看漫画</a></li>
                    <li><a href="javascript:void(0)">注册任务</a></li>
                </ul>
                <div class="task_search">
                    <input type="text" />
                    <a href="javascript:void(0)"></a>
                </div>
            </div>
            <div class="task_list">
                <div class="task_listbox">
                    <div class="task_listleft">
                        <div class="task_listsort">
                            <div class="task_page">
                                <span class="task_pagecount">1/50</span>
                                <span>
                                    <a class="pagepre" href="javascript:void(0)"><</a>
                                    <a class="pagenext" href="javascript:void(0)">></a>
                                </span>
                            </div>
                        </div>
                        <div class="task_cont">
                            <div class="task_contlist">
                                <div class="task_info">
                                    <div class="task_infoimg">
                                        <img src="../../public/images/1478932993.png" width="140" height="90" />
                                    </div>
                                    <div class="task_infocont">
                                        <h1><a href="javascript:void(0)">小花钱包</a></h1>
                                        <span>
                                            <p>招募人数：15/100</p>
                                            <p>任务时间: 2017-03-15 至 2017-05-05</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="task_com">
                                    <p>佣金</p>
                                    <span><i>￥</i>5.0</span>
                                </div>
                                <div class="task_apply"><a href="javascript:void(0)">马上申请</a></div>
                            </div>
                            <div class="task_contlist">
                                <div class="task_info">
                                    <div class="task_infoimg">
                                        <img src="../../public/images/1478932993.png" width="140" height="90" />
                                    </div>
                                    <div class="task_infocont">
                                        <h1><a href="javascript:void(0)">小花钱包</a></h1>
                                        <span>
                                            <p>招募人数：15/100</p>
                                            <p>任务时间: 2017-03-15 至 2017-05-05</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="task_com">
                                    <p>佣金</p>
                                    <span><i>￥</i>5.0</span>
                                </div>
                                <div class="task_apply"><a href="javascript:void(0)">马上申请</a></div>
                            </div>
                            <div class="task_contlist">
                                <div class="task_info">
                                    <div class="task_infoimg">
                                        <img src="../../public/images/1478932993.png" width="140" height="90" />
                                    </div>
                                    <div class="task_infocont">
                                        <h1><a href="javascript:void(0)">小花钱包</a></h1>
                                        <span>
                                            <p>招募人数：15/100</p>
                                            <p>任务时间: 2017-03-15 至 2017-05-05</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="task_com">
                                    <p>佣金</p>
                                    <span><i>￥</i>5.0</span>
                                </div>
                                <div class="task_apply"><a href="javascript:void(0)">马上申请</a></div>
                            </div>
                            <div class="task_contlist">
                                <div class="task_info">
                                    <div class="task_infoimg">
                                        <img src="../../public/images/1478932993.png" width="140" height="90" />
                                    </div>
                                    <div class="task_infocont">
                                        <h1><a href="javascript:void(0)">小花钱包</a></h1>
                                        <span>
                                            <p>招募人数：15/100</p>
                                            <p>任务时间: 2017-03-15 至 2017-05-05</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="task_com">
                                    <p>佣金</p>
                                    <span><i>￥</i>5.0</span>
                                </div>
                                <div class="task_apply"><a href="javascript:void(0)">马上申请</a></div>
                            </div>
                            <div class="task_contlist">
                                <div class="task_info">
                                    <div class="task_infoimg">
                                        <img src="../../public/images/1478932993.png" width="140" height="90" />
                                    </div>
                                    <div class="task_infocont">
                                        <h1><a href="javascript:void(0)">小花钱包</a></h1>
                                        <span>
                                            <p>招募人数：15/100</p>
                                            <p>任务时间: 2017-03-15 至 2017-05-05</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="task_com">
                                    <p>佣金</p>
                                    <span><i>￥</i>5.0</span>
                                </div>
                                <div class="task_apply"><a href="javascript:void(0)">马上申请</a></div>
                            </div>
                            <div class="task_contlist">
                                <div class="task_info">
                                    <div class="task_infoimg">
                                        <img src="../../public/images/1478932993.png" width="140" height="90" />
                                    </div>
                                    <div class="task_infocont">
                                        <h1><a href="javascript:void(0)">小花钱包</a></h1>
                                        <span>
                                            <p>招募人数：15/100</p>
                                            <p>任务时间: 2017-03-15 至 2017-05-05</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="task_com">
                                    <p>佣金</p>
                                    <span><i>￥</i>5.0</span>
                                </div>
                                <div class="task_apply"><a href="javascript:void(0)">马上申请</a></div>
                            </div>
                            <div class="task_contlist">
                                <div class="task_info">
                                    <div class="task_infoimg">
                                        <img src="../../public/images/1478932993.png" width="140" height="90" />
                                    </div>
                                    <div class="task_infocont">
                                        <h1><a href="javascript:void(0)">小花钱包</a></h1>
                                        <span>
                                            <p>招募人数：15/100</p>
                                            <p>任务时间: 2017-03-15 至 2017-05-05</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="task_com">
                                    <p>佣金</p>
                                    <span><i>￥</i>5.0</span>
                                </div>
                                <div class="task_apply"><a href="javascript:void(0)">马上申请</a></div>
                            </div>
                            <div class="task_contlist">
                                <div class="task_info">
                                    <div class="task_infoimg">
                                        <img src="../../public/images/1478932993.png" width="140" height="90" />
                                    </div>
                                    <div class="task_infocont">
                                        <h1><a href="javascript:void(0)">小花钱包</a></h1>
                                        <span>
                                            <p>招募人数：15/100</p>
                                            <p>任务时间: 2017-03-15 至 2017-05-05</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="task_com">
                                    <p>佣金</p>
                                    <span><i>￥</i>5.0</span>
                                </div>
                                <div class="task_apply"><a href="javascript:void(0)">马上申请</a></div>
                            </div>
                            <div class="task_contlist">
                                <div class="task_info">
                                    <div class="task_infoimg">
                                        <img src="../../public/images/1478932993.png" width="140" height="90" />
                                    </div>
                                    <div class="task_infocont">
                                        <h1><a href="javascript:void(0)">小花钱包</a></h1>
                                        <span>
                                            <p>招募人数：15/100</p>
                                            <p>任务时间: 2017-03-15 至 2017-05-05</p>
                                        </span>
                                    </div>
                                </div>
                                <div class="task_com">
                                    <p>佣金</p>
                                    <span><i>￥</i>5.0</span>
                                </div>
                                <div class="task_apply"><a href="javascript:void(0)">马上申请</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="task_listright">
                        <div class="hot_task">
                            <h2>推荐任务</h2>
                            <div class="scroll_task"  style="overflow:hidden;height:355px;line-height:30px;">
                                <ul class="holder">
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                    <li><a href="javascript:void(0)">王者荣前进的动力真的是正义吗</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    //推荐任务栏任务滚动
    function AutoScroll(obj) {
        $(obj).find("ul:first").animate({
                    marginTop: "-30px"
                },
                500,
                function() {
                    $(this).css({
                        marginTop: "0px"
                    }).find("li:first").appendTo(this);
                });
    }
    $(document).ready(function() {
        timer=setInterval('AutoScroll(".scroll_task")', 1500);
    });

    $(".scroll_task").mouseover(function(){
        clearInterval(timer);
    }).mouseout(function(){
        timer=setInterval('AutoScroll(".scroll_task")', 1500)
    });

    //往期踪迹导航栏
    var lis=$(".past_nav li");
    lis.on("click",function(){  //返回被选元素的所有同胞元素
        $(this).addClass("active").siblings().removeClass("active");
    });

</script>
{%endblock%}